h1 {
  
  text-align: center;
  background-color: rgb(13 110 253 / 45%);
}
h2 {
  background-color: rgb(231, 143, 28);
}

table {
  align-items: center;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
 

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.topnav {
  float:none;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.Addcustomer{
  padding: 6px;
  margin-top: 8px;
  margin-right: 100px;
  font-size: 17px;
  text-align: center;
  justify-content: flex-end;
}


label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}
#search-item {
  text-align: left;
  padding: 10px;
  
  top: 355px;
  left: 600px;
  height: 35px;
  width: 350px;

            
}

@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
form {
max-width:400px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
p {
margin-top:30px
}
h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
#fname #lname #gender #phone{

background-repeat:no-repeat;
background-position:5px 7px
}
#email #country #state #city  {

background-repeat:no-repeat;
background-position:5px 7px
}
#date {
background-repeat:no-repeat;
background-position:5px 7px;

padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
.dropdown-toggle {
  white-space: nowrap;
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFCB00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
color:red;
font-weight:700
}
h4 {
  color: black;
  text-align-last: center;
}
button{
  align-items: flex-end;
  color:black;
  }
  button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}


.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
/**/
.dropbtn {
  background-color: #3498DB;
  color: rgb(26, 24, 24);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
 
  height: 50px;
  width: 100px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position:relative;
  display: inline-block;
  align-items:right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(24, 12, 12, 0.2);
  z-index: 1;
  border:none;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  position: end;
}
#myDropdown {
position: fixed;

}
.dropbtn{
 text-align-last: right;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}